.shop-category {
    position: relative;
    height: 42vh;
    flex: 1 0 33.33%;
    background-size: cover;
    background-repeat: no-repeat;

    &.lg {
        flex: 1 0 50%;    
    }

    .inner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        text-transform: uppercase;
        letter-spacing: 14px;
    }
}